<div class="list-group">
  <% articles.each do |article| %>
    <%= link_to article_path(article), class: "list-group-item list-group-item-action" do %>
    <%= image_tag("/image.jpg", id: "img-#{id}-#{article.id}", class: "img-fluid thumb-article", alt: article.Title) %>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="pr-5 text-truncate"><%= article.Title %></h5>
      <span class="text-nowrap">
        <span class="iconify" data-icon="ri:thumb-up-fill" data-inline="false"></span>
        <%= article.votes.size %>
      </span>
    </div>
  <% end %>
<% end %>
</div>
