<%= render 'shared/form_errors', my_model: model, my_name: t("user.user") %>
<div class="field">
  <%= form.label :Name, t("user.user_name") %>
  <%= form.text_field :Name %>
</div>
<div class="actions">
  <%= form.submit t(button) %>
</div>
