<div class="row flex-column">
  <div class="col-6 mx-auto">
    <h1><%= t("user.sign_up") %></h1>
  </div>
  <div class="col-6 mx-auto">
    <%= form_with model: @user, url: sign_up_path do |form| %>
      <%= render "form", model: @user, form: form, button: t("user.sign_up"), link_text: t("user.already"), link_path: sign_in_path %>
    <% end %>
  </div>
</div>
