<% flash.each do |type, message| %>
  <div class="<%= alert_class(type) %>" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="<%= t("close") %>">
      <span aria-hidden="true" class="iconify" data-icon="ri:close-circle-fill" data-inline="false"></span>
    </button>
    <%= message %>
  </div>
<% end %>
