<div class="dropdown-menu" aria-labelledby="navbarLocales">
  <%= locale_link "English", "en", class: "dropdown-item" %>
  <%= locale_link "Español", "es", class: "dropdown-item" %>
  <%= locale_link "Português", "pt", class: "dropdown-item" %>
</div>
