<% categories.each do |category| %>
  <% unless category.articles.empty? %>
    <article id="<%= "#{id}-#{category.id}" %>" class="col-6 col-lg-3 position-relative p-0">
      <p class="abs-top bring-top p-3 p-sm-4 tint-top">
        <%= link_to category.Name, category_path(category), class: "h5 text-truncate d-block text-white" %>
      </p>
      <figure class="position-relative m-0">
        <div class="r-1-1">
          <%= image_tag(img_medium(recent_article(category)), class: "abs-0 w-100 h-100", alt: category.Name) %>
        </div>
        <figcaption class="abs-bottom p-2 tint-bottom">
          <%= link_to recent_article(category).Title, article_path(recent_article(category)), class: "h6 text-truncate d-block text-white" %>
        </figcaption>
      </figure>
    </article>
  <% end %>
<% end %>
