%fit-100 {
  object-fit: cover;
  width: 100%;
}

%article-cover, .article-cover {
  @extend %fit-100;
  height: 50vh;
  min-height: 240px;

  &-slim {
    @extend %article-cover;
    height: 20vh;
  }
}

.multiline-text {
  white-space: break-spaces;
}

.vh50 {
  height: 50vh;
  min-height: 320px;
}
