@mixin tint-gradient($tilt) {
  background: rgb(0, 0, 0);
  background: linear-gradient($tilt, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}

.tint-top {
  @include tint-gradient(180deg);
}

.tint-bottom {
  @include tint-gradient(360deg);
}

.sneak-peak {
  box-sizing: content-box;
  color: var(--light);
  max-height: 3em;
  min-height: 1em;
}
