@use '@csstools/normalize.css/normalize';
@use 'modules/fontsource';
@use 'modules/bootstrap';
@use 'pages';
@use 'users';
@use 'articles';
@use 'categories';

body,
html {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  &-social > * {
    background: var(--primary);
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    height: 36px;
    margin-left: 8px;
    padding: 0;
    width: 36px;
  }
}
