<% if @articles.size >= 1 %>
  <%= render "article", articles: @articles, id: "article" %>
<% else %>
  <p>
    <span class="iconify" data-icon="ri:error-warning-fill" data-inline="false"></span>
    <%= t("user.no_articles") %>
  </p>
<% end %>
